<div class="container">
  <a href="#" routerLink="/post/create/" class="btn btn-success">Create New Post</a>

  <table class="table table-striped">
    <thead>
        <tr>

          <th>Category Name</th>
          <th>Created Date</th>
          <th width="250px">Action</th>
        </tr>
    </thead>
      <tbody>
        <tr *ngFor="let cate of listCategory">
          <td>{{ cate.category_name }}</td>
          <td>{{ cate.created_date }}</td>
          <td>
            <a href="#" [routerLink]="['/post/', cate.category_id, 'edit']" class="btn btn-primary">Edit</a>
            <button type="button" (click)="deletePost(cate.category_id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
    </tbody>
  </table>
</div>
