<div class="container feature-product">
  <div class="row">
    <div class="col-lg-6">
      <div class="card box1">
        <img [src]="firstProduct.image_url" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card box2">
        <img [src]="secondProduct.image_url" class="card-img-top" alt="...">
      </div>
      <div class="card box3">
        <img [src]="thirdProduct.image_url" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>
