/* Feature Product */
.feature-product{
  margin-top: 4rem;
}
/* .feature-item1{
  height: 500px;
}
.feature-item1 img{
  height: 500px;
}

.feature-item2{
  height: 245px;
}
.feature-item2 img{
  height: 245px;
}

.feature-item3{
  height: 245px;
  margin-top: 10px;
}
.feature-item3 img{
  height: 245px;
} */
