<div class="container">
  <a href="#" routerLink="/admin/brand/new/" class="btn btn-success">Create New Brand</a>

  <table class="table table-striped">
    <thead>
      <tr>

        <th>Brand Name</th>
        <th>Brand Created Date</th>
        <th>Sub Category Name</th>


        <th width="250px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of listBrand">
        <td>{{ brand.brand_name }}</td>
        <td>{{ brand.created_date }}</td>
        <td>{{ brand.sub_Category.sub_category_name }}</td>
        <td>
          <a (click)="onClickEdit(brand.brand_id)" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deletePost(brand.brand_id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
