<div class="container">
  <button class="btn btn-success">Create New Brand</button>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Mark</td>
        <td class="d-flex">
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-danger ms-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
